<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PLAYER</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
      <h1>PLAYER</h1>
      <div>
          <fieldset id="box">
          <label>Nameset</label>
          <input id="nameset" type="text">
          <br>
       <label>Chatbox</label>
       <br>
       <textarea id="chatbox" rows= "10" cols="30"></textarea>
       <br>
       <label>Send Message</label>
       <br>
       <input id="sendMessage" type="text">
       <input id="sendMbutton" type= "submit" value="Send">
    </fieldset>
      </div>
      <script src="js/player.js"></script>
  </body>
</html>
