<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PLAYER</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
      <h1>PLAYER</h1>
      <div>
          <fieldset id="box">
          <label>Username: </label>
          <input id="nameset" type="text">
          <br>
          <label>Chatbox</label>
          <br>
          <textarea id="chatbox" rows= "10" cols="30" readonly></textarea>
          <br>
          <label>Send Message</label>
          <br>
          <input id="sendMessage" type="text">
          <input id="sendbutton" type= "submit" value="Send" onClick = "SendMessage()">
          </fieldset>
      </div>
      <script src="js/player.js"></script>
  </body>
</html>
