body{
    background: url(back.jpg);
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-variant: small-caps;
}
.container{
    align-items: flex-start;
}
/*header.h3{
    background-image: url(nihon.gif)repeat;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}*/
header {
    /*background-image:url(tokyoo.gif);*/
    background-color:#000000;
    color:whitesmoke;
    font: 10px;
    width: 350px;
    border-style: outset;
    border-color:#cc0000;
    border-width: 5px;
    display: block;
    font-size: 2em;
    line-height: .5em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 2px;
    padding-inline-start: 0.75em;
    resize:none;

}
div {
    display: block;

}
/*label{
    border-bottom: double 2px cornflowerblue;
}*/
section{
    position: fixed;
    border:#cc0000 5px outset;
    color:whitesmoke;
    float: left;
    font-size: 20px;
    background-color:transparent;
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;


}

textarea{
    color:whitesmoke;
    border:#cc0000 5px outset;
    background-color:#000000;
    margin-inline-end: 2px;
}


/*label{
    border-bottom: double 2px cornflowerblue;
}*/
/* why are there two of these identical section css?
section{
    border:#793185 5px outset;

    float: left;

    background-image:url(sds.jpg);
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;


}*/
section#carrddeck{
    border:#793185 5px outset;
    background-image:url(nihon.gif);
    color:white;
}
canvas{
    align-items: flex-start;
    position: static;
    float:left;
}
