body{
    background: url(pkbg.png);
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-variant: small-caps;
}
header {
    background-image:url(settingsbg.gif);
    font: 10px;
    border-style: outset;
    border-color:#793185;
    border-width: 5px;
    display: block;
    font-size: 2em;
    margin-right: 100px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
   
}

section#playersettings{
    border:#793185 5px outset;

    

    background-image:url(tokyoo.gif);
}
section#gamesettings{
    border:#793185 5px outset;

    
    background-image:url(tokyoo.gif);
}
section#submit{
    border:#793185 5px outset;

   
   
    background-image:url(tokyoo.gif);
}
